# Vehicles

In [10]:
import os
os.chdir(r"/Users/oleoaraujo/Downloads/vehicles")

In [11]:
import pandas as pd

In [12]:
pwd()

'/Users/oleoaraujo/Downloads/vehicles'

## Import file

In [15]:
df=pd.read_csv('vehicles.csv')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [16]:
df.to_csv('df.csv', index=False)

In [17]:
df=pd.read_csv(r'vehicles_tab.txt', sep='\t')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [18]:
df=pd.read_csv(r'vehicles_pipe.txt', sep='|')
df.head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [19]:
df.to_csv('pipefile.txt', sep=' ', index=False)

In [22]:
pd.read_csv('pipefile.txt', sep=' ')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6.0,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6.0,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6.0,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3.0,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3.0,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3.0,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [33]:
pd.read_excel('vehicles.xlsx').head()

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550

In [31]:
df.to_excel('filename.xlsx', index=False)

In [32]:
pd.read_json('vehicles.json')

,Make,Model,Year,Engine Displacement,Cylinders,Transmission,Drivetrain,Vehicle Class,Fuel Type,Fuel Barrels/Year,City MPG,Highway MPG,Combined MPG,CO2 Emission Grams/Mile,Fuel Cost/Year
0,AM General,DJ Po Vehicle 2WD,1984,2.5,4,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,19.388824,18,17,17,522.764706,1950
1,AM General,FJ8c Post Office,1984,4.2,6,Automatic 3-spd,2-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
2,AM General,Post Office DJ5 2WD,1985,2.5,4,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,20.600625,16,17,16,555.437500,2100
3,AM General,Post Office DJ8 2WD,1985,4.2,6,Automatic 3-spd,Rear-Wheel Drive,Special Purpose Vehicle 2WD,Regular,25.354615,13,13,13,683.615385,2550
4,ASC Incorporated,GNX,1987,3.8,6,Automatic 4-spd,Rear-Wheel Drive,Midsize Cars,Premium,20.600625,14,21,16,555.437500,2550
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35947,smart,fortwo coupe,2013,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35948,smart,fortwo coupe,2014,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,243.000000,1100
35949,smart,fortwo coupe,2015,1.0,3,Auto(AM5),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,38,36,244.000000,1100
35950,smart,fortwo coupe,2016,0.9,3,Auto(AM6),Rear-Wheel Drive,Two Seaters,Premium,9.155833,34,39,36,246.000000,1100
35951,smart,fortwo coupe,2016,0.9,3,Manual 5-spd,Rear-Wheel Drive,Two Seaters,Premium,9.417429,32,39,35,255.000000,1150

In [34]:
df.to_json("blaaaah.json", orient="split")

In [35]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 1.9 MB/s eta 0:00:011
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [36]:
!pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-1.3.23-cp39-cp39-macosx_10_14_x86_64.whl (1.2 MB)
     |████████████████████████████████| 1.2 MB 8.6 MB/s eta 0:00:01
Installing collected packages: sqlalchemy
Successfully installed sqlalchemy-1.3.23

In [38]:
!pip install getpass3

Collecting getpass3
  Downloading getpass3-1.2.tar.gz (1.7 kB)
Building wheels for collected packages: getpass3
  Building wheel for getpass3 (setup.py) ... done
  Created wheel for getpass3: filename=getpass3-1.2-py3-none-any.whl size=1774 sha256=f509c5a4a897853fdfc71890ea46c2e82207a037bcae264e0f6a2df029fefa9c
  Stored in directory: /Users/oleoaraujo/Library/Caches/pip/wheels/10/ef/14/ff2622d718321c0984d27a9d5392a17f3f93214152e91f37db
Successfully built getpass3
Installing collected packages: getpass3
Successfully installed getpass3-1.2

In [39]:
import pymysql
from sqlalchemy import create_engine
from getpass import getpass

In [40]:
#credentials
username='root'
server='localhost'
database='publications'
password=getpass()

········

In [42]:
#engine=create_engine("https://www.website.com")
engine=create_engine(f"mysql+pymysql://{username}:{password}@{server}/{database}")

In [43]:
pd.read_sql_query("select * from authors", engine)

,au_id,au_lname,au_fname,phone,address,city,state,zip,contract
0,172-32-1176,White,Johnson,408 496-7223,10932 Bigge Rd.,Menlo Park,CA,94025,1
1,213-46-8915,Green,Marjorie,415 986-7020,309 63rd St. #411,Oakland,CA,94618,1
2,238-95-7766,Carson,Cheryl,415 548-7723,589 Darwin Ln.,Berkeley,CA,94705,1
3,267-41-2394,O'Leary,Michael,408 286-2428,22 Cleveland Av. #14,San Jose,CA,95128,1
4,274-80-9391,Straight,Dean,415 834-2919,5420 College Av.,Oakland,CA,94609,1
5,341-22-1782,Smith,Meander,913 843-0462,10 Mississippi Dr.,Lawrence,KS,66044,0
6,409-56-7008,Bennet,Abraham,415 658-9932,6223 Bateman St.,Berkeley,CA,94705,1
7,427-17-2319,Dull,Ann,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
8,472-27-2349,Gringlesby,Burt,707 938-6445,PO Box 792,Covelo,CA,95428,1
9,486-29-1786,Locksley,Charlene,415 585-4620,18 Broadway Av.,San Francisco,CA,94130,1
10,527-72-3246,Greene,Morningstar,615 297-2723,22 Graybar House Rd.,Nashville,TN,37215,0
11,648-92-1872,Blotchet-Halls,Reginald,503 745-6402,55 Hillsdale Bl.,Corvallis,OR,97330,1
12,672-71-3249,Yokomoto,Akiko,415 935-4228,3 Silver Ct.,Walnut Creek,CA,94595,1
13,712-45-1867,del Castillo,Innes,615 996-8275,2286 Cram Pl. #86,Ann Arbor,MI,48105,1
14,722-51-5454,DeFrance,Michel,219 547-9982,3 Balding Pl.,Gary,IN,46403,1
15,724-08-9931,Stringer,Dirk,415 843-2991,5420 Telegraph Av.,Oakland,CA,94609,0
16,724-80-9391,MacFeather,Stearns,415 354-7128,44 Upland Hts.,Oakland,CA,94612,1
17,756-30-7391,Karsen,Livia,415 534-9219,5720 McAuley St.,Oakland,CA,94609,1
18,807-91-6654,Panteley,Sylvia,301 946-8853,1956 Arlington Pl.,Rockville,MD,20853,1
19,846-92-7186,Hunter,Sheryl,415 836-7128,3410 Blonde St.,Palo Alto,CA,94301,1
20,893-72-1158,McBadden,Heather,707 448-4982,301 Putnam,Vacaville,CA,95688,0
21,899-46-2035,Ringer,Anne,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1
22,998-72-3567,Ringer,Albert,801 826-0752,67 Seventh Av.,Salt Lake City,UT,84152,1

In [44]:
pd.read_sql_table('employee',engine)

       emp_id      fname minit      lname  job_id  job_lvl pub_id  hire_date
0   A-C71970F       Aria             Cruz      10       87   1389 1991-10-26
1   A-R89858F    Annette           Roulet       6      152   9999 1990-02-21
2   AMD15433F        Ann     M      Devon       3      200   9952 1991-07-16
3   ARD36773F    Anabela     R  Domingues       8      100   0877 1993-01-27
4   CFH28514M     Carlos     F   Hernadez       5      211   9999 1989-04-21
5   CGS88322F     Carine     G    Schmitt      13       64   1389 1992-07-07
6   DBT39435M     Daniel     B     Tonini      11       75   0877 1990-01-01
7   DWR65030M      Diego     W       Roel       6      192   1389 1991-12-16
8   ENL44273F  Elizabeth     N    Lincoln      14       35   0877 1990-07-24
9   F-C16315M  Francisco            Chang       4      227   9952 1990-11-03
10  GHT50241M       Gary     H     Thomas       9      170   0736 1988-08-09
11  H-B39728F      Helen          Bennett      12       35   0877 1989-09-21
12  HAN90777M  Helvetius     A       Nagy       7      120   9999 1993-03-19
13  HAS54740M     Howard     A     Snyder      12      100   0736 1988-11-19
14  JYL26161F     Janine     Y    Labrune       5      172   9901 1991-05-26
15  KFJ64308F      Karin     F    Josephs      14      100   0736 1992-10-17
16  KJJ92907F      Karla     J  Jablonski       9      170   9999 1994-03-11
17  L-B31947F     Lesley            Brown       7      120   0877 1991-02-13
18  LAL21447M   Laurence     A    Lebihan       5      175   0736 1990-06-03
19  M-L67958F      Maria          Larsson       7      135   1389 1992-03-27
20  M-P91209M     Manuel          Pereira       8      101   9999 1989-01-09
21  M-R38834F    Martine            Rance       9       75   0877 1992-02-05
22  MAP77183M     Miguel     A    Paolino      11      112   1389 1992-12-07
23  MAS70474F   Margaret     A      Smith       9       78   1389 1988-09-29
24  MFS52347M     Martin     F     Sommer      10      165   0736 1990-04-13
25  MGK44605M      Matti     G  Karttunen       6      220   0736 1994-05-01
26  MJP25939M      Maria     J     Pontes       5      246   1756 1989-03-01
27  MMS49649F       Mary     M    Saveley       8      175   0736 1993-06-29
28  PCM98509F   Patricia     C    McKenna      11      150   9999 1989-08-01
29  PDI47470M      Palle     D      Ibsen       7      195   0736 1993-05-09
30  PHF38899M      Peter     H    Franken      10       75   0877 1992-05-17
31  PMA42628M      Paolo     M    Accorti      13       35   0877 1992-08-27
32  POK93028M     Pirkko     O  Koskitalo      10       80   9999 1993-11-29
33  PSA89086M      Pedro     S     Afonso      14       89   1389 1990-12-24
34  PSP68661F      Paula     S    Parente       8      125   1389 1994-01-19
35  PTC11962M     Philip     T     Cramer       2      215   9952 1989-11-11
36  PXH22250M       Paul     X    Henriot       5      159   0877 1993-08-19
37  R-M53550M     Roland           Mendel      11      150   0736 1991-09-05
38  RBM23061F       Rita     B     Muller       5      198   1622 1993-10-09
39  SKO22412M       Sven     K    Ottlieb       5      150   1389 1991-04-05
40  TPO55093M    Timothy     P   O'Rourke      13      100   0736 1988-06-19
41  VPA30890F   Victoria     P   Ashworth       6      140   0877 1990-09-13
42  Y-L77953M      Yoshi          Latimer      12       32   1389 1989-06-11

In [45]:
from sqlalchemy import inspect
inspector=inspect(engine)
inspector.get_table_names()

['authors',
 'discounts',
 'employee',
 'jobs',
 'most_profiting_authors',
 'pub_info',
 'publishers',
 'roysched',
 'sales',
 'stores',
 'titleauthor',
 'titles']

In [46]:
df.to_sql('new_authors', engine, if_exists='replace', index=False)