# Web Scraping of "Welcome to the Jungle" for Data Jobs in Paris

### Importing librairies and modules

In [1]:
import requests
import pandas as pd

### Welcome to the Jungle website

Let's effectuate a research filtering with the criterias needed for my seach:
- Your dream job? --> Data Analyst
- Where? --> Paris

Therefore, here's the URL I will need to scrap:

In [2]:
URL = "https://csekhvms53-3.algolianet.com/1/indexes/*/queries?x-algolia-agent=Algolia%20for%20vanilla%20JavaScript%20(lite)%203.24.12%3Breact-instantsearch%205.3.2%3BJS%20Helper%20(2.28.1)&x-algolia-application-id=CSEKHVMS53&x-algolia-api-key=02f0d440abc99cae37e126886438b266"

In [3]:
text = """accept: application/json
Accept-Encoding: gzip, deflate, br
Accept-Language: en-GB,en-US;q=0.9,en;q=0.8
Cache-Control: no-cache
Connection: keep-alive
Content-Length: 2049
content-type: application/x-www-form-urlencoded
Host: csekhvms53-3.algolianet.com
Origin: https://www.welcometothejungle.com
Pragma: no-cache
Referer: https://www.welcometothejungle.com/en/jobs?query=data%20analyst&page=1&aroundQuery=Paris%2C%20France&aroundLatLng=48.85718%2C2.34141&aroundRadius=20000&sortBy=mostRecent
Sec-Fetch-Dest: empty
Sec-Fetch-Mode: cors
Sec-Fetch-Site: cross-site
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36"""

In [4]:
headers = {h[0]:h[1] for x in text.split('\n') if (h := x.split(': '))}
headers

{'accept': 'application/json',
 'Accept-Encoding': 'gzip, deflate, br',
 'Accept-Language': 'en-GB,en-US;q=0.9,en;q=0.8',
 'Cache-Control': 'no-cache',
 'Connection': 'keep-alive',
 'Content-Length': '2049',
 'content-type': 'application/x-www-form-urlencoded',
 'Host': 'csekhvms53-3.algolianet.com',
 'Origin': 'https://www.welcometothejungle.com',
 'Pragma': 'no-cache',
 'Referer': 'https://www.welcometothejungle.com/en/jobs?query=data%20analyst&page=1&aroundQuery=Paris%2C%20France&aroundLatLng=48.85718%2C2.34141&aroundRadius=20000&sortBy=mostRecent',
 'Sec-Fetch-Dest': 'empty',
 'Sec-Fetch-Mode': 'cors',
 'Sec-Fetch-Site': 'cross-site',
 'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/84.0.4147.105 Safari/537.36'}

In [5]:
# Since it is a POST request, I will need a "data" argument that I will call payload. The website call it "Form Data"
df = pd.DataFrame()
for i in range(8):
    payload = """{"requests":[{"indexName":"wk_cms_jobs_production_published_at_desc","params":"query=data%20analyst&hitsPerPage=30&maxValuesPerFacet=100&page="""+str(i)+"""&restrictSearchableAttributes=%5B%22name%22%2C%22profile%22%2C%22organization.name%22%2C%22office.city%22%2C%22office.district%22%2C%22office.state%22%2C%22office.country%22%2C%22department%22%2C%22profession.name.en%22%2C%22profession.category.en%22%2C%22contract_type_names.en%22%2C%22sectors.name.en%22%2C%22sectors.parent.en%22%5D&highlightPreTag=%3Cais-highlight-0000000000%3E&highlightPostTag=%3C%2Fais-highlight-0000000000%3E&aroundLatLng=48.85718%2C2.34141&aroundRadius=20000&aroundPrecision=20000&disableTypoToleranceOnAttributes=%5B%22profile%22%5D&filters=website.reference%3Awttj_fr&facets=%5B%22office.country_code%22%2C%22office.state%22%2C%22office.district%22%2C%22office.location%22%2C%22online%22%2C%22remote%22%2C%22contract_type_names.en%22%2C%22sectors.parent.en%22%2C%22profession.category.en%22%2C%22experience_level_minimum%22%2C%22organization.size.en%22%2C%22language%22%5D&tagFilters=&numericFilters=%5B%22experience_level_minimum%3E%3D0%22%2C%22experience_level_minimum%3C%3D15%22%5D"},{"indexName":"wk_cms_jobs_production_published_at_desc","params":"query=data%20analyst&hitsPerPage=1&maxValuesPerFacet=100&page=0&restrictSearchableAttributes=%5B%22name%22%2C%22profile%22%2C%22organization.name%22%2C%22office.city%22%2C%22office.district%22%2C%22office.state%22%2C%22office.country%22%2C%22department%22%2C%22profession.name.en%22%2C%22profession.category.en%22%2C%22contract_type_names.en%22%2C%22sectors.name.en%22%2C%22sectors.parent.en%22%5D&highlightPreTag=%3Cais-highlight-0000000000%3E&highlightPostTag=%3C%2Fais-highlight-0000000000%3E&aroundLatLng=48.85718%2C2.34141&aroundRadius=20000&aroundPrecision=20000&disableTypoToleranceOnAttributes=%5B%22profile%22%5D&filters=website.reference%3Awttj_fr&attributesToRetrieve=%5B%5D&attributesToHighlight=%5B%5D&attributesToSnippet=%5B%5D&tagFilters=&analytics=false&clickAnalytics=false&facets=experience_level_minimum"}]}"""
    response = requests.post(URL, headers=headers, data=payload)
    data = response.json()["results"][0]["hits"]
    df = pd.concat([df, pd.json_normalize(data)])
df

,slug,name,profile,language,published_at,reference,sectors,contract_type,experience_level_minimum,department,...,profession_name.fr.Relation client,profession_name.en.Customer Service,profession_name.es.Relaci√≥n con los clientes,profession_name.cs.Z√°kaznick√Ω servis,profession_name.sk.Z√°kazn√≠cky servis,profession_name.fr.Cr√©a,profession_name.en.Design,profession_name.es.Dise√±o y creatividad,profession_name.cs.Design,profession_name.sk.Dizajn
0,controleur-de-gestion-data-analyst-f-h_paris_M...,Contr√¥leur de gestion ‚Äì Data Analyst F/H,Profil\r\n- 3 ans d‚Äôexp√©rience op√©rationnelle ...,fr,2021-02-18T20:01:22.113+01:00,MASTR_jePAO36,"[{'name': {'fr': 'Objets connect√©s', 'en': 'Co...",FULL_TIME,3.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,revenue-strategy-and-business-analyst-h-f_paris,Data analyst - revenue strategy H/F,* Tu justifies d‚Äôau moins une premi√®re exp√©rie...,fr,2021-02-18T17:10:25.770+01:00,WEDOO_rxbK3b9,"[{'name': {'fr': 'Application mobile', 'en': '...",FULL_TIME,0.5,Enseignes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,analyste-conformite_paris_MOONC_WaOlWMA,Analyste Conformit√©,Bac +3/+5 en Banque/ Conformit√©\r\nVous avez d...,fr,2021-02-18T16:55:59.821+01:00,MOONC_WaOlWMA,"[{'name': {'fr': 'Banque', 'en': 'Banking', 'e...",FULL_TIME,2.0,Customer Service,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,senior-data-strategist_paris,Senior Data Strategist H/F CDI,Dipl√¥m√© d‚Äôune √©cole d‚Äôing√©nieur ou de commerce...,fr,2021-02-18T15:42:48.120+01:00,FABER_973JKVD,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,3.0,Marketing Digital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,senior-data-product-manager-h-f-cdi_paris,Senior Data Product Manager (H/F) - CDI - üá´üá∑,* Issu(e) d‚Äôune grande √©cole d‚Äôing√©nieur ou de...,fr,2021-02-18T15:02:01.142+01:00,PAPER_KPZgMa0,"[{'name': {'fr': 'Logiciels', 'en': 'Software'...",FULL_TIME,2.0,Marketing & Growth,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25,business-analyst_paris,Business Analyst,"Vous √™tes passionn√©(e) par les donn√©es, agile,...",fr,2021-01-13T22:15:10.808+01:00,OMC_NN7Wz17,"[{'name': {'fr': 'Luxe', 'en': 'Luxury', 'es':...",FULL_TIME,2.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,business-operations-data-analyst-h-f_clichy,Business Operations Data Analyst (H/F),Profil\r\n\r\nVos comp√©tences :\r\n‚Ä¢\tComp√©ten...,fr,2021-01-13T18:28:20.780+01:00,OPENI_1zRZkJM,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,2.0,Direction G√©n√©rale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,operations-analyst-h-f_paris,Operations Analyst (H/F),**About you**\r\n\r\n* You are fluent and have...,en,2021-01-13T11:01:21.271+01:00,OWKIN_5GamajX,[{'name': {'fr': 'Intelligence artificielle / ...,FULL_TIME,1.0,Operations,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,traffic-manager-pre-embauche_paris,Acquisition Manager (Pr√©-embauche),- Analytique/ Data-driven : Vous aimez manipul...,fr,2021-01-12T18:08:16.849+01:00,IA_GAwe50z,[{'name': {'fr': 'Digital Marketing / Data Mar...,INTERNSHIP,1.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,manager-audience-et-performance-h-f_boulogne-b...,Responsable Data Analyst Solutions B2B (H/F),Formation sup√©rieure niveau Bac +5 dans les st...,fr,2021-01-12T13:56:59.140+01:00,SOLOC_z5e0ZR3,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,5.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# Resetting index so it won't have any duplicates :
df = df.reset_index()

In [7]:
# In the previous step, the index has become a column, so I am going to get rid of this column:
df.drop(columns="index", axis=1, inplace=True)
df

,slug,name,profile,language,published_at,reference,sectors,contract_type,experience_level_minimum,department,...,profession_name.fr.Relation client,profession_name.en.Customer Service,profession_name.es.Relaci√≥n con los clientes,profession_name.cs.Z√°kaznick√Ω servis,profession_name.sk.Z√°kazn√≠cky servis,profession_name.fr.Cr√©a,profession_name.en.Design,profession_name.es.Dise√±o y creatividad,profession_name.cs.Design,profession_name.sk.Dizajn
0,controleur-de-gestion-data-analyst-f-h_paris_M...,Contr√¥leur de gestion ‚Äì Data Analyst F/H,Profil\r\n- 3 ans d‚Äôexp√©rience op√©rationnelle ...,fr,2021-02-18T20:01:22.113+01:00,MASTR_jePAO36,"[{'name': {'fr': 'Objets connect√©s', 'en': 'Co...",FULL_TIME,3.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,revenue-strategy-and-business-analyst-h-f_paris,Data analyst - revenue strategy H/F,* Tu justifies d‚Äôau moins une premi√®re exp√©rie...,fr,2021-02-18T17:10:25.770+01:00,WEDOO_rxbK3b9,"[{'name': {'fr': 'Application mobile', 'en': '...",FULL_TIME,0.5,Enseignes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,analyste-conformite_paris_MOONC_WaOlWMA,Analyste Conformit√©,Bac +3/+5 en Banque/ Conformit√©\r\nVous avez d...,fr,2021-02-18T16:55:59.821+01:00,MOONC_WaOlWMA,"[{'name': {'fr': 'Banque', 'en': 'Banking', 'e...",FULL_TIME,2.0,Customer Service,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,senior-data-strategist_paris,Senior Data Strategist H/F CDI,Dipl√¥m√© d‚Äôune √©cole d‚Äôing√©nieur ou de commerce...,fr,2021-02-18T15:42:48.120+01:00,FABER_973JKVD,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,3.0,Marketing Digital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,senior-data-product-manager-h-f-cdi_paris,Senior Data Product Manager (H/F) - CDI - üá´üá∑,* Issu(e) d‚Äôune grande √©cole d‚Äôing√©nieur ou de...,fr,2021-02-18T15:02:01.142+01:00,PAPER_KPZgMa0,"[{'name': {'fr': 'Logiciels', 'en': 'Software'...",FULL_TIME,2.0,Marketing & Growth,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,business-analyst_paris,Business Analyst,"Vous √™tes passionn√©(e) par les donn√©es, agile,...",fr,2021-01-13T22:15:10.808+01:00,OMC_NN7Wz17,"[{'name': {'fr': 'Luxe', 'en': 'Luxury', 'es':...",FULL_TIME,2.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,business-operations-data-analyst-h-f_clichy,Business Operations Data Analyst (H/F),Profil\r\n\r\nVos comp√©tences :\r\n‚Ä¢\tComp√©ten...,fr,2021-01-13T18:28:20.780+01:00,OPENI_1zRZkJM,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,2.0,Direction G√©n√©rale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,operations-analyst-h-f_paris,Operations Analyst (H/F),**About you**\r\n\r\n* You are fluent and have...,en,2021-01-13T11:01:21.271+01:00,OWKIN_5GamajX,[{'name': {'fr': 'Intelligence artificielle / ...,FULL_TIME,1.0,Operations,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,traffic-manager-pre-embauche_paris,Acquisition Manager (Pr√©-embauche),- Analytique/ Data-driven : Vous aimez manipul...,fr,2021-01-12T18:08:16.849+01:00,IA_GAwe50z,[{'name': {'fr': 'Digital Marketing / Data Mar...,INTERNSHIP,1.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,manager-audience-et-performance-h-f_boulogne-b...,Responsable Data Analyst Solutions B2B (H/F),Formation sup√©rieure niveau Bac +5 dans les st...,fr,2021-01-12T13:56:59.140+01:00,SOLOC_z5e0ZR3,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,5.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Understanding the data

In [8]:
df.shape

(240, 193)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Columns: 193 entries, slug to profession_name.sk.Dizajn
dtypes: float64(3), object(190)
memory usage: 362.0+ KB

In [10]:
df

,slug,name,profile,language,published_at,reference,sectors,contract_type,experience_level_minimum,department,...,profession_name.fr.Relation client,profession_name.en.Customer Service,profession_name.es.Relaci√≥n con los clientes,profession_name.cs.Z√°kaznick√Ω servis,profession_name.sk.Z√°kazn√≠cky servis,profession_name.fr.Cr√©a,profession_name.en.Design,profession_name.es.Dise√±o y creatividad,profession_name.cs.Design,profession_name.sk.Dizajn
0,controleur-de-gestion-data-analyst-f-h_paris_M...,Contr√¥leur de gestion ‚Äì Data Analyst F/H,Profil\r\n- 3 ans d‚Äôexp√©rience op√©rationnelle ...,fr,2021-02-18T20:01:22.113+01:00,MASTR_jePAO36,"[{'name': {'fr': 'Objets connect√©s', 'en': 'Co...",FULL_TIME,3.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,revenue-strategy-and-business-analyst-h-f_paris,Data analyst - revenue strategy H/F,* Tu justifies d‚Äôau moins une premi√®re exp√©rie...,fr,2021-02-18T17:10:25.770+01:00,WEDOO_rxbK3b9,"[{'name': {'fr': 'Application mobile', 'en': '...",FULL_TIME,0.5,Enseignes,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,analyste-conformite_paris_MOONC_WaOlWMA,Analyste Conformit√©,Bac +3/+5 en Banque/ Conformit√©\r\nVous avez d...,fr,2021-02-18T16:55:59.821+01:00,MOONC_WaOlWMA,"[{'name': {'fr': 'Banque', 'en': 'Banking', 'e...",FULL_TIME,2.0,Customer Service,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,senior-data-strategist_paris,Senior Data Strategist H/F CDI,Dipl√¥m√© d‚Äôune √©cole d‚Äôing√©nieur ou de commerce...,fr,2021-02-18T15:42:48.120+01:00,FABER_973JKVD,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,3.0,Marketing Digital,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,senior-data-product-manager-h-f-cdi_paris,Senior Data Product Manager (H/F) - CDI - üá´üá∑,* Issu(e) d‚Äôune grande √©cole d‚Äôing√©nieur ou de...,fr,2021-02-18T15:02:01.142+01:00,PAPER_KPZgMa0,"[{'name': {'fr': 'Logiciels', 'en': 'Software'...",FULL_TIME,2.0,Marketing & Growth,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,business-analyst_paris,Business Analyst,"Vous √™tes passionn√©(e) par les donn√©es, agile,...",fr,2021-01-13T22:15:10.808+01:00,OMC_NN7Wz17,"[{'name': {'fr': 'Luxe', 'en': 'Luxury', 'es':...",FULL_TIME,2.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,business-operations-data-analyst-h-f_clichy,Business Operations Data Analyst (H/F),Profil\r\n\r\nVos comp√©tences :\r\n‚Ä¢\tComp√©ten...,fr,2021-01-13T18:28:20.780+01:00,OPENI_1zRZkJM,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,2.0,Direction G√©n√©rale,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
237,operations-analyst-h-f_paris,Operations Analyst (H/F),**About you**\r\n\r\n* You are fluent and have...,en,2021-01-13T11:01:21.271+01:00,OWKIN_5GamajX,[{'name': {'fr': 'Intelligence artificielle / ...,FULL_TIME,1.0,Operations,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
238,traffic-manager-pre-embauche_paris,Acquisition Manager (Pr√©-embauche),- Analytique/ Data-driven : Vous aimez manipul...,fr,2021-01-12T18:08:16.849+01:00,IA_GAwe50z,[{'name': {'fr': 'Digital Marketing / Data Mar...,INTERNSHIP,1.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,manager-audience-et-performance-h-f_boulogne-b...,Responsable Data Analyst Solutions B2B (H/F),Formation sup√©rieure niveau Bac +5 dans les st...,fr,2021-01-12T13:56:59.140+01:00,SOLOC_z5e0ZR3,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,5.0,None,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.describe(include="all")

,slug,name,profile,language,published_at,reference,sectors,contract_type,experience_level_minimum,department,...,profession_name.fr.Relation client,profession_name.en.Customer Service,profession_name.es.Relaci√≥n con los clientes,profession_name.cs.Z√°kaznick√Ω servis,profession_name.sk.Z√°kazn√≠cky servis,profession_name.fr.Cr√©a,profession_name.en.Design,profession_name.es.Dise√±o y creatividad,profession_name.cs.Design,profession_name.sk.Dizajn
count,240,240,225,240,240,240,240,240,240.000000,126,...,2,2,2,2,2,1,1,1,1,1
unique,227,216,216,2,240,240,132,5,NaN,72,...,1,1,1,1,1,1,1,1,1,1
top,data-analyst_paris,Data Analyst,,fr,2021-02-08T18:01:10.910+01:00,SEKOI_lqyOqmZ,"[{'name': {'fr': 'FinTech / InsurTech', 'en': ...",FULL_TIME,NaN,Data,...,Customer Success,Customer Success,√âxito del cliente,Customer Success,Customer Success,UI Design,UI Design,Dise√±o UI,UI Design,UI Design
freq,11,13,5,169,1,1,9,178,NaN,12,...,2,2,2,2,2,1,1,1,1,1
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.464583,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.764301,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.750000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Data Cleaning

In [12]:
# Dropping all rows and columns that are filled with NaN results:
df.dropna(axis=0, how="all")
df.dropna(axis=1, how="all")
df.shape

(240, 193)

I will drop all columns that have at least 80% of NaN values:

In [42]:
number_of_rows = len(df.index)
number_of_rows*0.8

192.0

In [43]:
# Dropping all rows and columns that are filled with NA results:
for column in df.columns:
    if df[column].isna().sum()>= 0.99*number_of_rows:
        df.drop(axis=0, columns=column, inplace=True)
print(df.shape)
df

(240, 33)

,slug,name,profile,language,published_at,reference,sectors,contract_type,experience_level_minimum,department,...,profession.name.en,profession.category.en,profession_name.en.Audit / Finance / Insurance,_geoloc.lat,_geoloc.lng,profession_name.en.Business,profession_name.en.Tech,profession_name.en.Marketing / Communications,profession_name.en.Support Roles,profession_name.en.Consulting
0,controleur-de-gestion-data-analyst-f-h_paris_M...,Contr√¥leur de gestion ‚Äì Data Analyst F/H,Profil\r\n- 3 ans d‚Äôexp√©rience op√©rationnelle ...,fr,2021-02-18T20:01:22.113+01:00,MASTR_jePAO36,"[{'name': {'fr': 'Objets connect√©s', 'en': 'Co...",FULL_TIME,3.0,None,...,Corporate Finance,Audit / Finance / Insurance,Corporate Finance,48.842990,2.401710,NaN,NaN,NaN,NaN,NaN
1,revenue-strategy-and-business-analyst-h-f_paris,Data analyst - revenue strategy H/F,* Tu justifies d‚Äôau moins une premi√®re exp√©rie...,fr,2021-02-18T17:10:25.770+01:00,WEDOO_rxbK3b9,"[{'name': {'fr': 'Application mobile', 'en': '...",FULL_TIME,0.5,Enseignes,...,Other,Business,NaN,48.877020,2.309060,Other,NaN,NaN,NaN,NaN
2,analyste-conformite_paris_MOONC_WaOlWMA,Analyste Conformit√©,Bac +3/+5 en Banque/ Conformit√©\r\nVous avez d...,fr,2021-02-18T16:55:59.821+01:00,MOONC_WaOlWMA,"[{'name': {'fr': 'Banque', 'en': 'Banking', 'e...",FULL_TIME,2.0,Customer Service,...,Other,Audit / Finance / Insurance,Other,48.870122,2.318379,NaN,NaN,NaN,NaN,NaN
3,senior-data-strategist_paris,Senior Data Strategist H/F CDI,Dipl√¥m√© d‚Äôune √©cole d‚Äôing√©nieur ou de commerce...,fr,2021-02-18T15:42:48.120+01:00,FABER_973JKVD,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,3.0,Marketing Digital,...,Data Analysis,Tech,NaN,48.876934,2.334891,NaN,Data Analysis,NaN,NaN,NaN
4,senior-data-product-manager-h-f-cdi_paris,Senior Data Product Manager (H/F) - CDI - üá´üá∑,* Issu(e) d‚Äôune grande √©cole d‚Äôing√©nieur ou de...,fr,2021-02-18T15:02:01.142+01:00,PAPER_KPZgMa0,"[{'name': {'fr': 'Logiciels', 'en': 'Software'...",FULL_TIME,2.0,Marketing & Growth,...,Data Analysis,Tech,NaN,48.898163,2.378094,NaN,Data Analysis,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,business-analyst_paris,Business Analyst,"Vous √™tes passionn√©(e) par les donn√©es, agile,...",fr,2021-01-13T22:15:10.808+01:00,OMC_NN7Wz17,"[{'name': {'fr': 'Luxe', 'en': 'Luxury', 'es':...",FULL_TIME,2.0,None,...,Data Analysis,Tech,NaN,48.861050,2.308410,NaN,Data Analysis,NaN,NaN,NaN
236,business-operations-data-analyst-h-f_clichy,Business Operations Data Analyst (H/F),Profil\r\n\r\nVos comp√©tences :\r\n‚Ä¢\tComp√©ten...,fr,2021-01-13T18:28:20.780+01:00,OPENI_1zRZkJM,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,2.0,Direction G√©n√©rale,...,Data Analysis,Tech,NaN,48.900717,2.299297,NaN,Data Analysis,NaN,NaN,NaN
237,operations-analyst-h-f_paris,Operations Analyst (H/F),**About you**\r\n\r\n* You are fluent and have...,en,2021-01-13T11:01:21.271+01:00,OWKIN_5GamajX,[{'name': {'fr': 'Intelligence artificielle / ...,FULL_TIME,1.0,Operations,...,Operations,Support Roles,NaN,48.874320,2.353290,NaN,NaN,NaN,Operations,NaN
238,traffic-manager-pre-embauche_paris,Acquisition Manager (Pr√©-embauche),- Analytique/ Data-driven : Vous aimez manipul...,fr,2021-01-12T18:08:16.849+01:00,IA_GAwe50z,[{'name': {'fr': 'Digital Marketing / Data Mar...,INTERNSHIP,1.0,None,...,Traffic Management,Marketing / Communications,NaN,48.864089,2.343734,NaN,NaN,Traffic Management,NaN,NaN
239,manager-audience-et-performance-h-f_boulogne-b...,Responsable Data Analyst Solutions B2B (H/F),Formation sup√©rieure niveau Bac +5 dans les st...,fr,2021-01-12T13:56:59.140+01:00,SOLOC_z5e0ZR3,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,5.0,None,...,Data Science,Tech,NaN,48.828670,2.230610,NaN,Data Science,NaN,NaN,NaN

### Cleaning columns columns that show duplicated content in other languages other than English:

In [29]:
# Identifying all the columns :
col = []
for language in [".cs", ".es", ".fr", ".sk"]:
    col += [c for c in df.columns if language in c]
col

['organization.size.cs',
 'organization.cover_image.cs.url',
 'organization.cover_image.cs.large.url',
 'organization.cover_image.cs.thumb.url',
 'organization.cover_image.cs.small.url',
 'sectors_name.cs',
 'contract_type_names.cs',
 'profession.name.cs',
 'profession.category.cs',
 'profession_name.cs.Audit / Finance / Poji≈°≈•ovnictv√≠',
 '_highlightResult.contract_type_names.cs.value',
 '_highlightResult.contract_type_names.cs.matchLevel',
 '_highlightResult.contract_type_names.cs.matchedWords',
 '_highlightResult.profession.name.cs.value',
 '_highlightResult.profession.name.cs.matchLevel',
 '_highlightResult.profession.name.cs.matchedWords',
 '_highlightResult.profession.category.cs.value',
 '_highlightResult.profession.category.cs.matchLevel',
 '_highlightResult.profession.category.cs.matchedWords',
 'profession_name.cs.Business',
 'profession_name.cs.Tech',
 '_highlightResult.profession.name.cs.fullyHighlighted',
 'profession_name.cs.Marketing a komunikace',
 'profession_name.cs.Podpora',
 'profession_name.cs.Consulting',
 'organization.size.es',
 'organization.cover_image.es.url',
 'organization.cover_image.es.large.url',
 'organization.cover_image.es.thumb.url',
 'organization.cover_image.es.small.url',
 'sectors_name.es',
 'contract_type_names.es',
 'profession.name.es',
 'profession.category.es',
 'profession_name.es.Auditor√≠a/Finanzas/Seguros',
 '_highlightResult.contract_type_names.es.value',
 '_highlightResult.contract_type_names.es.matchLevel',
 '_highlightResult.contract_type_names.es.matchedWords',
 '_highlightResult.profession.name.es.value',
 '_highlightResult.profession.name.es.matchLevel',
 '_highlightResult.profession.name.es.matchedWords',
 '_highlightResult.profession.category.es.value',
 '_highlightResult.profession.category.es.matchLevel',
 '_highlightResult.profession.category.es.matchedWords',
 'profession_name.es.Negocios',
 'profession_name.es.Tecnolog√≠a',
 'profession_name.es.Marketing/Comunicaci√≥n',
 'profession_name.es.Servicios generales',
 'profession_name.es.Asesor√≠a',
 'organization.size.fr',
 'organization.cover_image.fr.url',
 'organization.cover_image.fr.large.url',
 'organization.cover_image.fr.thumb.url',
 'organization.cover_image.fr.small.url',
 'sectors_name.fr',
 'contract_type_names.fr',
 'profession.name.fr',
 'profession.category.fr',
 'profession_name.fr.Audit / Finance / Assurance',
 '_highlightResult.contract_type_names.fr.value',
 '_highlightResult.contract_type_names.fr.matchLevel',
 '_highlightResult.contract_type_names.fr.matchedWords',
 '_highlightResult.profession.name.fr.value',
 '_highlightResult.profession.name.fr.matchLevel',
 '_highlightResult.profession.name.fr.matchedWords',
 '_highlightResult.profession.category.fr.value',
 '_highlightResult.profession.category.fr.matchLevel',
 '_highlightResult.profession.category.fr.matchedWords',
 'profession_name.fr.Business',
 'profession_name.fr.Tech',
 '_highlightResult.profession.name.fr.fullyHighlighted',
 'profession_name.fr.Marketing / Communication',
 'profession_name.fr.Support',
 'profession_name.fr.Conseil',
 'organization.size.sk',
 'organization.cover_image.sk.url',
 'organization.cover_image.sk.large.url',
 'organization.cover_image.sk.thumb.url',
 'organization.cover_image.sk.small.url',
 'sectors_name.sk',
 'contract_type_names.sk',
 'profession.name.sk',
 'profession.category.sk',
 'profession_name.sk.Audit / Financie / Pois≈•ovn√≠ctvo',
 '_highlightResult.contract_type_names.sk.value',
 '_highlightResult.contract_type_names.sk.matchLevel',
 '_highlightResult.contract_type_names.sk.matchedWords',
 '_highlightResult.profession.name.sk.value',
 '_highlightResult.profession.name.sk.matchLevel',
 '_highlightResult.profession.name.sk.matchedWords',
 '_highlightResult.profession.category.sk.value',
 '_highlightResult.profession.category.sk.matchLevel',
 '_highlightResult.profession.category.sk.matchedWords',
 'profession_name.sk.Obchod',
 'profession_name.sk.Technol√≥gie',
 '_highlightResult.profession.name.sk.fullyHighlighted',
 'profession_name.sk.Marketing / Komunik√°cia',
 'profession_name.sk.Podpora',
 'profession_name.sk.Poradenstvo']

In [30]:
len(col)

99

In [31]:
df.drop(axis=1, columns=col, inplace=True)
df.shape

(240, 84)

In [32]:
# Printing the new columns of our DataFrame
col = [c for c in df.columns]
col

['slug',
 'name',
 'profile',
 'language',
 'published_at',
 'reference',
 'sectors',
 'contract_type',
 'experience_level_minimum',
 'department',
 'remote',
 'objectID',
 'website.reference',
 'organization.name',
 'organization.slug',
 'organization.reference',
 'organization.size.en',
 'organization.logo.url',
 'organization.logo.thumb.url',
 'organization.labels',
 'organization.cover_image.en.url',
 'organization.cover_image.en.large.url',
 'organization.cover_image.en.thumb.url',
 'organization.cover_image.en.small.url',
 'organization.website_organization.slug',
 'sectors_name.en',
 'contract_type_names.en',
 'office.city',
 'office.district',
 'office.state',
 'office.country',
 'office.country_code',
 'profession.name.en',
 'profession.category.en',
 'profession_name.en.Audit / Finance / Insurance',
 '_geoloc.lat',
 '_geoloc.lng',
 '_highlightResult.name.value',
 '_highlightResult.name.matchLevel',
 '_highlightResult.name.fullyHighlighted',
 '_highlightResult.name.matchedWords',
 '_highlightResult.profile.value',
 '_highlightResult.profile.matchLevel',
 '_highlightResult.profile.fullyHighlighted',
 '_highlightResult.profile.matchedWords',
 '_highlightResult.organization.name.value',
 '_highlightResult.organization.name.matchLevel',
 '_highlightResult.organization.name.matchedWords',
 '_highlightResult.sectors',
 '_highlightResult.contract_type_names.en.value',
 '_highlightResult.contract_type_names.en.matchLevel',
 '_highlightResult.contract_type_names.en.matchedWords',
 '_highlightResult.office.city.value',
 '_highlightResult.office.city.matchLevel',
 '_highlightResult.office.city.matchedWords',
 '_highlightResult.office.district.value',
 '_highlightResult.office.district.matchLevel',
 '_highlightResult.office.district.matchedWords',
 '_highlightResult.office.state.value',
 '_highlightResult.office.state.matchLevel',
 '_highlightResult.office.state.matchedWords',
 '_highlightResult.office.country.value',
 '_highlightResult.office.country.matchLevel',
 '_highlightResult.office.country.matchedWords',
 '_highlightResult.office.country_code.value',
 '_highlightResult.office.country_code.matchLevel',
 '_highlightResult.office.country_code.matchedWords',
 '_highlightResult.profession.name.en.value',
 '_highlightResult.profession.name.en.matchLevel',
 '_highlightResult.profession.name.en.matchedWords',
 '_highlightResult.profession.category.en.value',
 '_highlightResult.profession.category.en.matchLevel',
 '_highlightResult.profession.category.en.matchedWords',
 'profession_name.en.Business',
 '_highlightResult.department.value',
 '_highlightResult.department.matchLevel',
 '_highlightResult.department.matchedWords',
 'profession_name.en.Tech',
 '_highlightResult.profession.name.en.fullyHighlighted',
 'profession_name.en.Marketing / Communications',
 'profession_name.en.Support Roles',
 'profession_name.en.Consulting',
 '_highlightResult.department.fullyHighlighted',
 '_highlightResult.organization.name.fullyHighlighted']

### Droping all the "Organization" columns that don't interest me:

In [33]:
col = ['organization.slug', 'organization.logo.url', 'organization.logo.thumb.url', 'organization.labels',
 'organization.cover_image.en.url', 'organization.cover_image.en.large.url', 'organization.cover_image.en.thumb.url',
 'organization.cover_image.en.small.url', 'organization.website_organization.slug']

In [34]:
df.drop(axis=1, columns=col, inplace=True)
df.shape

(240, 75)

### Droping columns starting with "_highlightResults" that might not interest me:

In [35]:
col = ['_highlightResult.name.value',
 '_highlightResult.name.matchLevel',
 '_highlightResult.name.fullyHighlighted',
 '_highlightResult.name.matchedWords',
 '_highlightResult.profile.value',
 '_highlightResult.profile.matchLevel',
 '_highlightResult.profile.fullyHighlighted',
 '_highlightResult.profile.matchedWords',
 '_highlightResult.organization.name.value',
 '_highlightResult.organization.name.matchLevel',
 '_highlightResult.organization.name.matchedWords',
 '_highlightResult.sectors',
 '_highlightResult.contract_type_names.en.value',
 '_highlightResult.contract_type_names.en.matchLevel',
 '_highlightResult.contract_type_names.en.matchedWords',
 '_highlightResult.office.city.value',
 '_highlightResult.office.city.matchLevel',
 '_highlightResult.office.city.matchedWords',
 '_highlightResult.office.district.value',
 '_highlightResult.office.district.matchLevel',
 '_highlightResult.office.district.matchedWords',
 '_highlightResult.office.state.value',
 '_highlightResult.office.state.matchLevel',
 '_highlightResult.office.state.matchedWords',
 '_highlightResult.office.country.value',
 '_highlightResult.office.country.matchLevel',
 '_highlightResult.office.country.matchedWords',
 '_highlightResult.office.country_code.value',
 '_highlightResult.office.country_code.matchLevel',
 '_highlightResult.office.country_code.matchedWords',
 '_highlightResult.department.value',
 '_highlightResult.department.matchLevel',
 '_highlightResult.department.matchedWords',
 '_highlightResult.profession.name.en.value',
 '_highlightResult.profession.name.en.matchLevel',
 '_highlightResult.profession.name.en.matchedWords',
 '_highlightResult.profession.category.en.value',
 '_highlightResult.profession.category.en.matchLevel',
 '_highlightResult.profession.category.en.matchedWords',
 '_highlightResult.profession.name.en.fullyHighlighted',
 '_highlightResult.department.fullyHighlighted',
 '_highlightResult.department.fullyHighlighted',
 '_highlightResult.organization.name.fullyHighlighted']

In [36]:
df.drop(axis=1, columns=col, inplace=True)

In [37]:
df.shape

(240, 33)

In [44]:
df

,slug,name,profile,language,published_at,reference,sectors,contract_type,experience_level_minimum,department,...,profession.name.en,profession.category.en,profession_name.en.Audit / Finance / Insurance,_geoloc.lat,_geoloc.lng,profession_name.en.Business,profession_name.en.Tech,profession_name.en.Marketing / Communications,profession_name.en.Support Roles,profession_name.en.Consulting
0,controleur-de-gestion-data-analyst-f-h_paris_M...,Contr√¥leur de gestion ‚Äì Data Analyst F/H,Profil\r\n- 3 ans d‚Äôexp√©rience op√©rationnelle ...,fr,2021-02-18T20:01:22.113+01:00,MASTR_jePAO36,"[{'name': {'fr': 'Objets connect√©s', 'en': 'Co...",FULL_TIME,3.0,None,...,Corporate Finance,Audit / Finance / Insurance,Corporate Finance,48.842990,2.401710,NaN,NaN,NaN,NaN,NaN
1,revenue-strategy-and-business-analyst-h-f_paris,Data analyst - revenue strategy H/F,* Tu justifies d‚Äôau moins une premi√®re exp√©rie...,fr,2021-02-18T17:10:25.770+01:00,WEDOO_rxbK3b9,"[{'name': {'fr': 'Application mobile', 'en': '...",FULL_TIME,0.5,Enseignes,...,Other,Business,NaN,48.877020,2.309060,Other,NaN,NaN,NaN,NaN
2,analyste-conformite_paris_MOONC_WaOlWMA,Analyste Conformit√©,Bac +3/+5 en Banque/ Conformit√©\r\nVous avez d...,fr,2021-02-18T16:55:59.821+01:00,MOONC_WaOlWMA,"[{'name': {'fr': 'Banque', 'en': 'Banking', 'e...",FULL_TIME,2.0,Customer Service,...,Other,Audit / Finance / Insurance,Other,48.870122,2.318379,NaN,NaN,NaN,NaN,NaN
3,senior-data-strategist_paris,Senior Data Strategist H/F CDI,Dipl√¥m√© d‚Äôune √©cole d‚Äôing√©nieur ou de commerce...,fr,2021-02-18T15:42:48.120+01:00,FABER_973JKVD,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,3.0,Marketing Digital,...,Data Analysis,Tech,NaN,48.876934,2.334891,NaN,Data Analysis,NaN,NaN,NaN
4,senior-data-product-manager-h-f-cdi_paris,Senior Data Product Manager (H/F) - CDI - üá´üá∑,* Issu(e) d‚Äôune grande √©cole d‚Äôing√©nieur ou de...,fr,2021-02-18T15:02:01.142+01:00,PAPER_KPZgMa0,"[{'name': {'fr': 'Logiciels', 'en': 'Software'...",FULL_TIME,2.0,Marketing & Growth,...,Data Analysis,Tech,NaN,48.898163,2.378094,NaN,Data Analysis,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,business-analyst_paris,Business Analyst,"Vous √™tes passionn√©(e) par les donn√©es, agile,...",fr,2021-01-13T22:15:10.808+01:00,OMC_NN7Wz17,"[{'name': {'fr': 'Luxe', 'en': 'Luxury', 'es':...",FULL_TIME,2.0,None,...,Data Analysis,Tech,NaN,48.861050,2.308410,NaN,Data Analysis,NaN,NaN,NaN
236,business-operations-data-analyst-h-f_clichy,Business Operations Data Analyst (H/F),Profil\r\n\r\nVos comp√©tences :\r\n‚Ä¢\tComp√©ten...,fr,2021-01-13T18:28:20.780+01:00,OPENI_1zRZkJM,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,2.0,Direction G√©n√©rale,...,Data Analysis,Tech,NaN,48.900717,2.299297,NaN,Data Analysis,NaN,NaN,NaN
237,operations-analyst-h-f_paris,Operations Analyst (H/F),**About you**\r\n\r\n* You are fluent and have...,en,2021-01-13T11:01:21.271+01:00,OWKIN_5GamajX,[{'name': {'fr': 'Intelligence artificielle / ...,FULL_TIME,1.0,Operations,...,Operations,Support Roles,NaN,48.874320,2.353290,NaN,NaN,NaN,Operations,NaN
238,traffic-manager-pre-embauche_paris,Acquisition Manager (Pr√©-embauche),- Analytique/ Data-driven : Vous aimez manipul...,fr,2021-01-12T18:08:16.849+01:00,IA_GAwe50z,[{'name': {'fr': 'Digital Marketing / Data Mar...,INTERNSHIP,1.0,None,...,Traffic Management,Marketing / Communications,NaN,48.864089,2.343734,NaN,NaN,Traffic Management,NaN,NaN
239,manager-audience-et-performance-h-f_boulogne-b...,Responsable Data Analyst Solutions B2B (H/F),Formation sup√©rieure niveau Bac +5 dans les st...,fr,2021-01-12T13:56:59.140+01:00,SOLOC_z5e0ZR3,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,5.0,None,...,Data Science,Tech,NaN,48.828670,2.230610,NaN,Data Science,NaN,NaN,NaN

In [46]:
# Printing the new columns of our DataFrame
col = [c for c in df.columns]
col

['slug',
 'name',
 'profile',
 'language',
 'published_at',
 'reference',
 'sectors',
 'contract_type',
 'experience_level_minimum',
 'department',
 'remote',
 'objectID',
 'website.reference',
 'organization.name',
 'organization.reference',
 'organization.size.en',
 'sectors_name.en',
 'contract_type_names.en',
 'office.city',
 'office.district',
 'office.state',
 'office.country',
 'office.country_code',
 'profession.name.en',
 'profession.category.en',
 'profession_name.en.Audit / Finance / Insurance',
 '_geoloc.lat',
 '_geoloc.lng',
 'profession_name.en.Business',
 'profession_name.en.Tech',
 'profession_name.en.Marketing / Communications',
 'profession_name.en.Support Roles',
 'profession_name.en.Consulting']

### Keeping only the column "profession.name.en" and droping the last columns with duplicated and redundant value for profession_name.en.(sector).

In [47]:
df.iloc[:,-10:]

,profession.name.en,profession.category.en,profession_name.en.Audit / Finance / Insurance,_geoloc.lat,_geoloc.lng,profession_name.en.Business,profession_name.en.Tech,profession_name.en.Marketing / Communications,profession_name.en.Support Roles,profession_name.en.Consulting
0,Corporate Finance,Audit / Finance / Insurance,Corporate Finance,48.842990,2.401710,NaN,NaN,NaN,NaN,NaN
1,Other,Business,NaN,48.877020,2.309060,Other,NaN,NaN,NaN,NaN
2,Other,Audit / Finance / Insurance,Other,48.870122,2.318379,NaN,NaN,NaN,NaN,NaN
3,Data Analysis,Tech,NaN,48.876934,2.334891,NaN,Data Analysis,NaN,NaN,NaN
4,Data Analysis,Tech,NaN,48.898163,2.378094,NaN,Data Analysis,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
235,Data Analysis,Tech,NaN,48.861050,2.308410,NaN,Data Analysis,NaN,NaN,NaN
236,Data Analysis,Tech,NaN,48.900717,2.299297,NaN,Data Analysis,NaN,NaN,NaN
237,Operations,Support Roles,NaN,48.874320,2.353290,NaN,NaN,NaN,Operations,NaN
238,Traffic Management,Marketing / Communications,NaN,48.864089,2.343734,NaN,NaN,Traffic Management,NaN,NaN
239,Data Science,Tech,NaN,48.828670,2.230610,NaN,Data Science,NaN,NaN,NaN

In [55]:
df = df.iloc[:,:-5]
print(df.shape)
df

(240, 28)

,slug,name,profile,language,published_at,reference,sectors,contract_type,experience_level_minimum,department,...,office.city,office.district,office.state,office.country,office.country_code,profession.name.en,profession.category.en,profession_name.en.Audit / Finance / Insurance,_geoloc.lat,_geoloc.lng
0,controleur-de-gestion-data-analyst-f-h_paris_M...,Contr√¥leur de gestion ‚Äì Data Analyst F/H,Profil\r\n- 3 ans d‚Äôexp√©rience op√©rationnelle ...,fr,2021-02-18T20:01:22.113+01:00,MASTR_jePAO36,"[{'name': {'fr': 'Objets connect√©s', 'en': 'Co...",FULL_TIME,3.0,None,...,Paris,Paris,Ile-de-France,France,FR,Corporate Finance,Audit / Finance / Insurance,Corporate Finance,48.842990,2.401710
1,revenue-strategy-and-business-analyst-h-f_paris,Data analyst - revenue strategy H/F,* Tu justifies d‚Äôau moins une premi√®re exp√©rie...,fr,2021-02-18T17:10:25.770+01:00,WEDOO_rxbK3b9,"[{'name': {'fr': 'Application mobile', 'en': '...",FULL_TIME,0.5,Enseignes,...,Paris,Paris,Ile-de-France,France,FR,Other,Business,NaN,48.877020,2.309060
2,analyste-conformite_paris_MOONC_WaOlWMA,Analyste Conformit√©,Bac +3/+5 en Banque/ Conformit√©\r\nVous avez d...,fr,2021-02-18T16:55:59.821+01:00,MOONC_WaOlWMA,"[{'name': {'fr': 'Banque', 'en': 'Banking', 'e...",FULL_TIME,2.0,Customer Service,...,Paris,Paris,Ile-de-France,France,FR,Other,Audit / Finance / Insurance,Other,48.870122,2.318379
3,senior-data-strategist_paris,Senior Data Strategist H/F CDI,Dipl√¥m√© d‚Äôune √©cole d‚Äôing√©nieur ou de commerce...,fr,2021-02-18T15:42:48.120+01:00,FABER_973JKVD,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,3.0,Marketing Digital,...,Paris,Paris,Ile-de-France,France,FR,Data Analysis,Tech,NaN,48.876934,2.334891
4,senior-data-product-manager-h-f-cdi_paris,Senior Data Product Manager (H/F) - CDI - üá´üá∑,* Issu(e) d‚Äôune grande √©cole d‚Äôing√©nieur ou de...,fr,2021-02-18T15:02:01.142+01:00,PAPER_KPZgMa0,"[{'name': {'fr': 'Logiciels', 'en': 'Software'...",FULL_TIME,2.0,Marketing & Growth,...,Paris,Paris,Ile-de-France,France,FR,Data Analysis,Tech,NaN,48.898163,2.378094
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,business-analyst_paris,Business Analyst,"Vous √™tes passionn√©(e) par les donn√©es, agile,...",fr,2021-01-13T22:15:10.808+01:00,OMC_NN7Wz17,"[{'name': {'fr': 'Luxe', 'en': 'Luxury', 'es':...",FULL_TIME,2.0,None,...,Paris,Paris,Ile-de-France,France,FR,Data Analysis,Tech,NaN,48.861050,2.308410
236,business-operations-data-analyst-h-f_clichy,Business Operations Data Analyst (H/F),Profil\r\n\r\nVos comp√©tences :\r\n‚Ä¢\tComp√©ten...,fr,2021-01-13T18:28:20.780+01:00,OPENI_1zRZkJM,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,2.0,Direction G√©n√©rale,...,Clichy,Hauts-de-Seine,Ile-de-France,France,FR,Data Analysis,Tech,NaN,48.900717,2.299297
237,operations-analyst-h-f_paris,Operations Analyst (H/F),**About you**\r\n\r\n* You are fluent and have...,en,2021-01-13T11:01:21.271+01:00,OWKIN_5GamajX,[{'name': {'fr': 'Intelligence artificielle / ...,FULL_TIME,1.0,Operations,...,Paris,Paris,Ile-de-France,France,FR,Operations,Support Roles,NaN,48.874320,2.353290
238,traffic-manager-pre-embauche_paris,Acquisition Manager (Pr√©-embauche),- Analytique/ Data-driven : Vous aimez manipul...,fr,2021-01-12T18:08:16.849+01:00,IA_GAwe50z,[{'name': {'fr': 'Digital Marketing / Data Mar...,INTERNSHIP,1.0,None,...,Paris,Paris,Ile-de-France,France,FR,Traffic Management,Marketing / Communications,NaN,48.864089,2.343734
239,manager-audience-et-performance-h-f_boulogne-b...,Responsable Data Analyst Solutions B2B (H/F),Formation sup√©rieure niveau Bac +5 dans les st...,fr,2021-01-12T13:56:59.140+01:00,SOLOC_z5e0ZR3,"[{'name': {'fr': 'IT / Digital', 'en': 'IT / D...",FULL_TIME,5.0,None,...,Boulogne-billancourt,Hauts-de-Seine,Ile-de-France,France,FR,Data Science,Tech,NaN,48.828670,2.230610

In [57]:
# Printing the new columns of our DataFrame
col = [c for c in df.columns]
print(len(col))
col

28

['slug',
 'name',
 'profile',
 'language',
 'published_at',
 'reference',
 'sectors',
 'contract_type',
 'experience_level_minimum',
 'department',
 'remote',
 'objectID',
 'website.reference',
 'organization.name',
 'organization.reference',
 'organization.size.en',
 'sectors_name.en',
 'contract_type_names.en',
 'office.city',
 'office.district',
 'office.state',
 'office.country',
 'office.country_code',
 'profession.name.en',
 'profession.category.en',
 'profession_name.en.Audit / Finance / Insurance',
 '_geoloc.lat',
 '_geoloc.lng']

In [58]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
slug,240,227,data-analyst_paris,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
name,240,216,Data Analyst,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profile,225,216,,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
language,240,2,fr,169,NaN,NaN,NaN,NaN,NaN,NaN,NaN
published_at,240,240,2021-02-08T18:01:10.910+01:00,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
reference,240,240,SEKOI_lqyOqmZ,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sectors,240,132,"[{'name': {'fr': 'FinTech / InsurTech', 'en': ...",9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contract_type,240,5,FULL_TIME,178,NaN,NaN,NaN,NaN,NaN,NaN,NaN
experience_level_minimum,240.0,NaN,NaN,NaN,1.464583,1.764301,0.0,0.0,0.75,3.0,10.0
department,126,72,Data,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN
remote,240,4,no,142,NaN,NaN,NaN,NaN,NaN,NaN,NaN
objectID,240,240,479993,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
website.reference,240,1,wttj_fr,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
organization.name,240,158,Deezer,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
organization.reference,240,158,p6N2p17,6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
organization.size.en,239,5,"Between 250 and 2,000 employees",83,NaN,NaN,NaN,NaN,NaN,NaN,NaN
sectors_name.en,240,132,[{'Banking / Insurance / Finance': 'FinTech / ...,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
contract_type_names.en,240,5,Full-Time,178,NaN,NaN,NaN,NaN,NaN,NaN,NaN
office.city,240,28,Paris,186,NaN,NaN,NaN,NaN,NaN,NaN,NaN
office.district,240,6,Paris,189,NaN,NaN,NaN,NaN,NaN,NaN,NaN
office.state,240,1,Ile-de-France,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
office.country,240,1,France,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
office.country_code,240,1,FR,240,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profession.name.en,240,26,Data Analysis,114,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profession.category.en,240,8,Tech,154,NaN,NaN,NaN,NaN,NaN,NaN,NaN
profession_name.en.Audit / Finance / Insurance,12,2,Corporate Finance,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
_geoloc.lat,240.0,NaN,NaN,NaN,48.869396,0.025747,48.7492,48.864089,48.872279,48.882571,48.967775
_geoloc.lng,240.0,NaN,NaN,NaN,2.324028,0.046542,2.173517,2.299144,2.333975,2.350739,2.547917

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 28 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   slug                                            240 non-null    object
 1   name                                            240 non-null    object
 2   profile                                         225 non-null    object
 3   language                                        240 non-null    object
 4   published_at                                    240 non-null    object
 5   reference                                       240 non-null    object
 6   sectors                                         240 non-null    object
 7   contract_type                                   240 non-null    object
 8   experience_level_minimum                        240 non-null    float64
 9   department                                      126 non-null    object
 10  remote                                          240 non-null    object
 11  objectID                                        240 non-null    object
 12  website.reference                               240 non-null    object
 13  organization.name                               240 non-null    object
 14  organization.reference                          240 non-null    object
 15  organization.size.en                            239 non-null    object
 16  sectors_name.en                                 240 non-null    object
 17  contract_type_names.en                          240 non-null    object
 18  office.city                                     240 non-null    object
 19  office.district                                 240 non-null    object
 20  office.state                                    240 non-null    object
 21  office.country                                  240 non-null    object
 22  office.country_code                             240 non-null    object
 23  profession.name.en                              240 non-null    object
 24  profession.category.en                          240 non-null    object
 25  profession_name.en.Audit / Finance / Insurance  12 non-null     object
 26  _geoloc.lat                                     240 non-null    float64
 27  _geoloc.lng                                     240 non-null    float64
dtypes: float64(3), object(25)
memory usage: 52.6+ KB

In [60]:
dftest = df["published_at"]
dftest

0      2021-02-18T20:01:22.113+01:00
1      2021-02-18T17:10:25.770+01:00
2      2021-02-18T16:55:59.821+01:00
3      2021-02-18T15:42:48.120+01:00
4      2021-02-18T15:02:01.142+01:00
                   ...
235    2021-01-13T22:15:10.808+01:00
236    2021-01-13T18:28:20.780+01:00
237    2021-01-13T11:01:21.271+01:00
238    2021-01-12T18:08:16.849+01:00
239    2021-01-12T13:56:59.140+01:00
Name: published_at, Length: 240, dtype: object

In [63]:
dftest = pd.to_timedelta(dftest)
dftest

ValueError: only leading negative signs are allowed